$susy:(
	container :1200px,
	columns: 12,
	gutters: .25,

  );

//@include layout(12 (80px 10px) static);
.wrap{
	@include container;
	background-color: #fff;
	height: 100%;
	padding: 0 $padd;
}
.content{
    padding: 0 0 $footerH;
	}

aside{
	@include span(3);
}
aside + .inner{
  @include span(9 last);
}






