header {
	height: $headrH;
	position: relative;

	.logo{		
	    text-indent: -9999px;
	     outline: none;
	}
       article{
			width: 100px;
			&:first-child{
				@include span(2);
			}
			&:nth-child(2){
				@include span(8);
			}
			&:last-child{
				@include span(2 last);
			}
		}

	hgroup{
		padding-top: 35px;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 0;
		h4{
			color: #959494;
			margin-bottom: 1px;
		}
		h1{
			color: #707070;
		}
	}
	.enter-block{
		padding-top: 45px;
		p{
			margin-bottom: 8px !important;
		}

	}
	.wrap{
		border-bottom: 2px solid #e1e1e1;
		padding-top: 12px;
		position: relative;
		&:before{
			content: '';
			@include ico-sprite(flag);
			position: absolute;
			left: -27px;
			bottom: 0;
		}
	}
}