header{
	nav {
		text-align: center;
		margin-top: 20px;

	}
}
ul.header_nav {	
	@include inline-block-list(22px);
	display: inline-block;
	border-top: 1px solid #e2e2e2;
	padding-top: 10px;
	overflow: visible;
	>li{
		position: relative;
		height: 30px;
		>a{
			font-size: 18px;
			color: #2c2c2c;
			position: relative;
			display: inline-block;
			text-decoration: none;
			&:after{
				content: '\203A';
				color: #888;
				font-size: 18px;
				position: absolute;
				margin-left: 7px;
				text-decoration: none;
				top: 0;
				@include rotate(90deg);
			}
			&:hover{
					color: $attention;
				&:after{
					color: $attention;
				}
			}

			&:only-child{
				&:after{
					display: none;
				}
			}
		}

		&:first-child{
			padding-left: 0;
			.sub-nav{
				left: 0;
			}
		}
		&:last-child{
			padding-right: 0;
		}
	   &:hover{
		   >.sub-nav{
			   opacity: 1;
			   z-index: 10;
			   li{
				   height: 36px;
			   }
		   }
	   }
	}
	.sub-nav{
		position: absolute;
		z-index: -1;
		background-color: #fff;
		top: 30px;
		left: $padd;
		padding: 10px;
		border: 1px solid #e2e2e2;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		opacity: 0;
		-webkit-transition: opacity .25s ease .1s;
		-moz-transition: opacity .25s ease .1s;
		-o-transition: opacity .25s ease .1s;
		-ms-transition: opacity .25s ease .1s;
		transition: opacity .25s ease .1s;

		li{
			display:block;
			position: relative;
			text-align: left;
			overflow: hidden;
			padding-left: 0;
			padding-right: 0;
			height: 0;
			-webkit-transition: height .25s ease .1s;
			-moz-transition: height .25s ease .1s;
			-o-transition: height .25s ease .1s;
			-ms-transition: height .25s ease .1s;
			transition: height .25s ease .1s;

			a{
				font-size: 18px;
				color: #2c2c2c;
				text-decoration: none;
				&:hover{
					color: $attention;
				}
			}
		}
	}
}


