%button {
  font-family: 'pt-sans-bold';
  color: #fff;
  display: inline-block;
  font-size: $button-font-size;
  text-transform: uppercase;
  border: none;
  padding: 3px 27px;
  cursor: pointer;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  transition: background-color, .2s;
  text-decoration: none;
  &:hover{
    color: #fff;
  }
}

.btn-blue{
  @extend %button;
  background-color: $blue;
  &:hover{
    background-color: $red;
  }
}