ul.pagination{
  text-align: center;
  position: relative;
  display: inline-block;
  padding-top: 27px;
  margin-top: 25px;
  li{
    display: inline-block;
    margin: 0 5px;
    line-height: 20px;

    a{
      font-family: 'pt-sans-bold';
      color: $base-font-color;
      font-size: 14px;
      display: inline-block;
      width: 20px;
      height: 20px;
      @include circle(20px);
      &.active{
        background-color: $blue;
        color: #fff;
        &:hover{
          color: #fff;
        }
      }
      &:hover{
        color: $blue;
      }
    }
    &:first-child, &:last-child{
      font-size: 15px;
      position: absolute;
      top: 0;
      a{
        font-family: $base-font;
        font-size: 15px;
      }

    }
    &:last-child{
      right: 0;
      margin-right: 80px;
      a:after{
        content: '\203A';
        margin-left: 5px;
      }

    }
    &:first-child{
      left: 0;
      a:before{
        content: '\2039';
        margin-right: 5px;
      }
    }

  }

}