table.striped{

  width: 100%;
    td{

      &:first-child{
        >img{
          @include circle(52px);
          float: left;
        }
        div{
          margin-left: 65px;
          padding-top: 5px;
          p{
            margin-bottom: 0;
            line-height: 15px;
            &:nth-child(2){
              font-size: 12px;
              color: #595959;
            }
            &:nth-child(3){
              font-size: 12px;
              color: #4d4c4c;
                img{
                  position: relative;
                  margin-right: 5px;
                  top: 2px;
                }

            }
          }
        }
      }
    }

   .score{
       th, td{
         border-color: transparent !important;
         padding: 0 !important;
         font-size: 12px;
       }
     td{
       &:nth-child(2){
         small{
           display: inline-block;
           position: relative;
           top: -1px;
         }
       }
     }
   }
  &.reyt{
    th{
      &:first-child{
        width: 190px;
      }
      &:last-child{
        width: 55px;
      }
    }
    td{
      text-align: center;
      height: 57px;
      &:first-child{
        text-align: left;
      }

    }
  }
}
table.gray-header{
  border: 1px solid #d7d7d7;
  width: 100%;
  td{
    padding: 12px 10px;
  }
  th{
    font-family: 'pt-sans-bold';
    font-size: 13px;
    color: #787878;
    background-color: #f6f6f6;
    height: 30px;
    text-align: center;
  }
  td,th{
    border-bottom: 1px solid #d7d7d7;
  }
  td:nth-child(2), th:nth-child(2) {
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;

  }
  tr:last-child{
    td, th {
      border-bottom: none !important;
    }
  }

}
table.cup{
  th{
    &:first-child{
      width: 390px;
    }
  }
}