ul.tabs{
  @include horizontal-list(1px);
  border-bottom: none;
  padding-bottom: 0;
  box-shadow: none;
  background-image: none;
  padding-left: 8px;
  li{
    font-family: 'pt-sans-bold';
    text-transform: uppercase;
    font-size: 14px;
    color: #4a4a4a;
    height: 28px;
    width: 180px;
    margin-right: 4px;
    border: 1px solid #d3d3d3;
    border-bottom: none;
    text-align: center;
    padding-top: 0px;
    line-height: 31px;
    border-radius: 3px 3px 0 0;
    cursor: pointer;
    background-color: #f6f6f6;
    &.current{
      color: #fff;
      background-color: $blue;
      border-color: $blue;
    }
  }
  &:before, &:after{
    background-color: transparent;
  }

}
.box{
  display: none;
  padding-right: 30px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  color: #1e1e1e;
  padding: 15px 18px;
  article {
    padding-top: 3px;

    h4{
      line-height: 26px;
      margin-bottom: 5px;
    }
    p{
      max-height: 60px;
      overflow: hidden;
    }
  }
  a{
    color: $base-font-color;
    text-decoration: none;
    &:hover{
      color: $blue;
    }
  }
}
.box.visible{
  display: block;
}
