@each $font in
				bebasneue_light
{
	@include font-face('#{$font}', font-files('#{$font}.ttf', '#{$font}.eot','#{$font}.svg','#{$font}.woff'));
}
@include establish-baseline;
body{
	font-family: $base-font;	
	color: $base-font-color;
	font-size: $base-font-size;	
}

@each $h, $size in (h1: 87px, h2: 70px) {
	#{$h} {
		@include adjust-font-size-to($size);
	}
}

a{
	@include link-colors($normal, $hover);
	text-decoration: none;
}

p{
	line-height: $base-line-height;
}