.newListSelected {
  font-family: $base-font;

  font-size: 14px;
  width: 100%;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  outline: none;
  height: 35px;
  line-height: 35px;
  margin-top: 7px;
  position: relative !important;
  cursor: pointer;
  box-sizing: border-box;
  .selectedTxt{
    padding:0 0 0 10px;
  }

}
ul.newList{
  background-color: #fff;
  border:1px solid #8cbeee;
  margin-top: 2px;
  position: absolute;
  width: 100%;
  z-index: 10;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.35);
  li{
    border-bottom: 1px solid #DBDBDB;
    padding-left: 12px;
    list-style-type: disc;
    list-style-position: inside;
    color: #4d4c4c;
    font-size: 14px;
    &:last-child{
      border-bottom: none;
    }
    &:hover{
      color: $blue;
    }
    a{
      font-family: $base-font;
      outline: none;
      color: #4d4c4c;
      margin-left: -15px;
      &:hover{
        color: $blue;
      }
    }
  }
}
.icon-down-open{
  &:before {
    content: '\203A';
    font-size: 25px;
    position: absolute;
    width: 35px !important;
    height: 30px;
    background-color: $blue;
    color: #fff;
    right: -4px;
    top: 1px;
    z-index: 10;
    border-radius:  5px 5px 0 0;
    margin-right: 0 !important;
    text-align: center;
    @include rotate(90deg);
  }
}